<?xml version='1.0' encoding='utf-8'?>
<widget id="kr.caresquare.bloodsugar" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>혈당 기록</name>
    <description>혈당 기록 앱</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <preference name="WKWebViewOnly" value="true" />
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <feature name="CDVWKWebViewEngine">
        <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>
    <feature name="CDVUIWebViewEngine">
        <param name="ios-package" value="CDVUIWebViewEngine" onload="false" />
    </feature>

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <preference name="gradle.properties.org.gradle.jvmargs" value="-Xmx4096m -XX:MaxPermSize=4096m -XX:+HeapDumpOnOutOfMemoryError" />
    </platform>

    <allow-navigation href="http://*/*" />
    <access origin="*" />
    
    <!-- 실제 배포시 사용 -->
    <content src="index.html" />

    <!-- 개발시 Hot Reload 사용 -->
    <!-- <content src="http://localhost:8080" /> -->

    <!-- Vite 프로젝트 설정 -->
    <preference name="scheme" value="app" />
    <!-- 개발시 Hot Reload 사용 -->
    <!-- <preference name="scheme" value="http" /> -->
    <preference name="hostname" value="localhost" />
</widget>
